SUPABASE_URL=https://oilbibanyqudqtuplymp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pbGJpYmFueXF1ZHF0dXBseW1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2ODMzNTksImV4cCI6MjA5NjI1OTM1OX0.5MQbSI9Oxz0QKMllBNx2Ja_ikGzTJup6Ywm9ACZmjlc
